* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    border-bottom: 1px solid red;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("Images/background.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-weight: normal;
    color: white;
    padding-bottom: 100px;
    padding-top: 100px;
}

.band-name-large {
    font-size: 8em;
}

@media screen and (max-width: 521px) {
    .band-name-large {
        font-size: 30px;
    }
    .band-name {
        font-size: 30px;
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .content-text {
        width: 100%;
        padding: 0px !important;
        padding-top: 15px !important;
    }
    .content-text h2 {
        font-size: 20px;
    }
    .content-text p {
        font-size: 15px;
        max-width: 100%;
    }
}

.content-section {
    margin: 1em;
}

.content-text {
    max-width: 800px;
    padding: 20px;
}

.container-about {
    margin: 0 auto;
    padding: 4em;
    padding-bottom: 100px;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 1.5em;
}


/* pictures first page */

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 721px) {
    .row {
        display: flex;
        flex-direction: column !important;
    }
    .col-4 {
        width: 100% !important;
    }
    .container-about {
        width: 100% !important;
        padding: 2rem !important;
    }
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
    height: 180px;
}

.title {
    text-align: center;
    margin: 0 auto 6v0px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: "";
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.rating .fa {
    color: #ff523b;
}

.col-4:hover {
    transform: translateY(-5px);
}


/* end */


/* offer */

.offer {
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img {
    padding: 50px;
}

@media screen and (max-width: 521px) {
    .col-2 .offer-img {
        padding: 0px;
    }
    .offer {
        margin-top: 10px;
        padding: 0px;
    }
    .small-container {
        padding-left: 0px;
        padding-right: 0px;
    }
}

small {
    color: #555;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    text-decoration: none;
}

.btn:hover {
    background: #563434;
}

@media screen and (max-width: 521px) {
    .col-2 h1 {
        font-size: 20px;
        line-height: 5px;
    }
    .col-2 {
        display: grid;
    }
    .btn {
        margin: auto;
    }
    small {
        padding-bottom: 10px;
    }
    .col-2 p {
        padding-top: 5px;
    }
}


/* end */


/* Testimonial */

.row-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 521px) {
    .row-1 {
        flex-direction: column !important;
    }
    .fa.fa-quote-left {
        font-size: 25px !important;
    }
    .col-3 p {
        font-size: 15px !important;
        margin: 8px 0 !important;
    }
    .testimonial .col-3 img {
        height: auto !important;
        margin-top: 10px !important;
    }
    .testimonial {
        padding-top: 20px !important;
        padding-bottom: 0px !important;
    }
}

.testimonial {
    padding-top: 100px;
    padding-bottom: 150px;
}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img {
    width: 100px;
    height: 80px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover {
    transform: translateY(-10px);
}

.fa.fa-quote-left {
    font-size: 34px;
    color: #ff523b;
}

.col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}


/* end */

.section-header {
    font-weight: normal;
    color: #333;
    margin-top: 20px;
    text-align: center;
    font-size: 2.5em;
    border-bottom: 2px solid rgb(255, 111, 0);
    border-radius: 20px;
}

@media screen and (max-width: 521px) {
    .section-header {
        font-size: 30px;
        margin-top: 10px;
    }
}

.border {
    display: flex;
    justify-content: center;
}

.main-footer {
    background-color: #56CCF2;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 521px) {
    .main-footer-container {
        flex-direction: column;
    }
    .contact {
        display: flex;
        justify-content: center;
    }
    .fa-envelope,
    .fa-phone {
        padding-right: 5px;
    }
    .footer-nav img {
        width: 20px !important;
        height: 20px !important;
        margin-bottom: 10px;
    }
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0.5em;
}

.contact a {
    color: #fff;
    text-decoration: none;
}

.fa {
    color: #fff;
}

.contact {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 1.5em;
    padding-bottom: 20px;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .70em .70em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 40%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

@media screen and (max-width: 521px) {
    .btn-header {
        font-size: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .btn {
        margin-bottom: 10px;
    }
    .btn-primary {
        margin-right: 10px;
    }
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    width: 400px;
    height: 300px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

@media screen and (max-width: 521px) {
    .shop-item-price {
        margin-left: 10px;
    }
    .cart-row {
        flex-direction: column;
    }
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

@media screen and (max-width: 521px) {
    .cart-item {
        width: 15%;
    }
    .cart-quantity {
        width: 30%;
    }
    .cart-price {
        width: 18%;
    }
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}


/* About */

.content-information {
    display: flex;
    width: 100%;
}

.img-about {
    width: 50%;
    height: 800px;
    position: relative;
}

.img-about img {
    width: 100%;
    height: 100%;
}

.top-img {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.7s ease;
}

.top-img:hover {
    opacity: 1;
}

.about-info {
    background: black;
    padding: 4rem;
    width: 50%;
    height: 800px;
}

.buttons {
    padding-top: 10px;
    padding-bottom: 40px;
}

@media screen and (max-width: 521px) {
    .about-info h2 {
        font-size: 20px !important;
        padding-bottom: 5px !important;
    }
    .about-info {
        width: 100%;
        padding: 1rem;
        height: auto;
        padding-bottom: 80px;
    }
    .img-about {
        width: 100%;
        height: auto;
    }
    .buttons {
        display: flex !important;
        padding-bottom: 15px;
    }
    .content-information {
        flex-direction: column;
    }
    .about-info p {
        width: 100% !important;
    }
    .about-info a {
        max-width: 140px;
    }
    .position-company {
        padding: 1rem !important;
    }
}

.about-info h2 {
    color: #fff;
    font-size: 40px;
    padding-bottom: 20px;
}

.about-info a {
    border: 1px solid #fff;
    text-decoration: none;
    padding: 10px;
    color: #fff;
}

.about-info a:hover {
    background: #fff;
    color: black;
}

.about-info p {
    color: #fff;
    width: 500px;
}

.about-company {
    display: flex;
}

.position-company {
    width: 1000px;
    padding: 4rem;
}